In [25]:
import pandas as pd
 
df1 = pd.read_excel(file name)

In [26]:
df1.drop('UNIQUE_ID', axis=1, inplace=True)

In [27]:
from sklearn.preprocessing import StandardScaler
names=['CREDIT_CARD','CASH_DEPOSIT','ATM_WITHDRAWAL','ATM_DEPOSIT','BILLS','DEBIT_CARD','OUTWARD_TRANSFER','INWARD_TRANSFER','CASH_WITHDRAWAL','CREDIT_CHEQUES','DEBIT_CHEQUES']
scaler=StandardScaler()
scaler.fit(df1)
array=scaler.transform(df1)
normalized_df = pd.DataFrame(array, columns=names)
normalized_df

,CREDIT_CARD,CASH_DEPOSIT,ATM_WITHDRAWAL,ATM_DEPOSIT,BILLS,DEBIT_CARD,OUTWARD_TRANSFER,INWARD_TRANSFER,CASH_WITHDRAWAL,CREDIT_CHEQUES,DEBIT_CHEQUES
0,13.288852,4.049718,2.928861,3.674210,1.652925,0.401977,1.172281,-0.016748,-0.171479,-0.074236,-0.122288
1,-0.071589,-0.205240,-0.269490,-0.299728,-0.154554,-0.256888,0.054030,-0.022797,-0.171479,-0.074236,-0.122288
2,-0.071589,-0.205240,-0.343467,-0.277092,-0.169435,-0.298838,-0.125883,-0.033319,-0.171479,-0.074236,-0.122288
3,-0.071589,-0.205240,-0.349860,0.149180,-0.173152,-0.298838,-0.127533,-0.034433,-0.171479,-0.074236,-0.122288
4,-0.071589,-0.205240,0.466624,-0.279371,-0.173152,-0.298838,-0.127533,-0.034433,-0.171479,-0.074236,-0.122288
...,...,...,...,...,...,...,...,...,...,...,...
4755,-0.071589,-0.126718,0.058382,-0.122139,-0.173152,-0.298838,-0.127533,-0.034433,-0.171479,-0.074236,-0.122288
4756,-0.071589,0.205346,-0.216519,0.360190,0.987360,-0.065680,-0.127533,-0.033256,-0.171479,-0.074236,-0.122288
4757,-0.071589,0.015908,-0.295062,1.918835,0.240303,4.714457,-0.072499,-0.032957,-0.171479,-0.074236,-0.122288
4758,-0.071589,-0.205240,-0.077699,0.651866,-0.032738,0.287634,-0.043062,-0.033152,-0.171479,-0.074236,-0.122288
4759,-0.071589,-0.205240,-0.349860,0.195362,-0.163782,-0.298838,0.160243,0.003431,-0.171479,-0.074236,-0.122288

In [32]:
from sklearn.cluster import DBSCAN
clustering = DBSCAN(eps=0.06).fit(normalized_df)
clustering.labels_

array([-1, -1,  0, ..., -1, -1, -1], dtype=int64)

In [33]:
df1['cluster'] = pd.Series(clustering.labels_, index=df1.index)

In [34]:
df1.to_excel(file name)

In [35]:
from sklearn import metrics
metrics.silhouette_score(normalized_df, clustering.labels_)

-0.19409209502690786